/*  
Theme Name: Grid Focus Public
Theme URI: http://5thirtyone.com/
Description: Grid aligned left
Version: 1.0
Author: Derek Punsalan
Author URI: http://is.derekpunsalan.com/

Notes: Inspired and created for minimalist, content focused blogs 
or websites. Customize, edit, poke, prod, and adapt to your own 
style. Please leave credit where credit is due so that others may
find the source for your site and adapt a suitable version for their
own website.
*/

*{margin:0;padding:0;}
html,body{background:#FFF;color:#333;text-align:center;} 
body{font:12px arial,helvetica,verdana,sans-serif;}
h1{font-size:22px;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
a{color:#333;text-decoration:none;}
a:hover{color:#666;}
#wrapper{border-top:3px solid #EEE;margin:20px auto;text-align:left;width:965px;} 

/* masthead / footer - navigation and categories */
#masthead{padding:5px 0;}
#masthead h1 a{text-transform:uppercase;width:400px;float:left;margin:12px 0 0 0;}
#masthead h1 a em{font-style:normal;color:#555;}
#header #masthead #logo {float:right;width:42px;height:42px;border:3px solid #EEE;margin:4px 0;}
#site-slogan a{font-weight:bold;} 
#site-slogan{line-height:1.4em;width:400px;float:right;margin:8px 0 0 0;}
#primary {list-style:none;background:#EEE;}
#primary li{border-right:1px solid #DDD;float:left;display:block;width:100px;}
#primary li a{font-size:11px;outline:none;color:#333;text-decoration:none;display:block;padding:5px 0 12px 5px;width:99px;text-transform:uppercase;}
#primary li a span{font-size:11px;color:#777;text-transform:lowercase;}
#primary li a:hover{background:#333;color:#eee!important;width:95px;}
* html #primary li a:hover{background:#333;width:99px;}
#primary li.skip, #search-theme-form {border-left:1px solid #DDD;float:right;display:block width:100px;margin:4px 4px 0px 10px;}
#primary li.skip a{width:100px;}
li.top{border-left:1px solid #DDD;float:right;display:block width:100px;}
li.top a{width:100px;}
#primary li.skip a:hover, li.top a:hover { background: transparent;color: #333 !important;}
#secondary{background:#333;}
#secondary ul{list-style:none;padding:5px 0 3px 0;}
#secondary li{float:left;display:block;width:101px;}
#secondary li a{font-weight:bold;color:#7F7F7F;width:99px;display:block;padding:2px 0 4px 5px;}
#secondary li a:hover{color:#EEE;}

/* main - middle content and columns */
#mid{}#mainCol{float:left;margin:26px 0 0 0;width:435px;}

/* style individual sidebars */
#sidebar-left a{font-weight:bold;}
#sidebar-left{color:#444;width:250px;line-height:1.3em;}
#sidebar-left p{color:#777;}
#searchWrap,
.middle_links{margin-bottom:20px;}
#searchWrap input{vertical-align:middle;}
#searchWrap #s{font-size:1.1em;border:1px solid #BBB;padding:1px 2px;margin-right:3px;width:220px;}
.middle_links h3{margin-bottom:7px;}
.block ul{list-style:none;margin:8px 0 4px;}
ul.menu li, .item-list ul li{background:url(images/li.gif) no-repeat 0 3px;color:#7F7F7F;line-height:1.2em;border-top:1px solid #BBB;padding:4px 0 4px 16px;white-space:nowrap;}
#sidebar-right{width:214px;}
#sidebar-right p{color:#777;}
#elseWhere{margin:0 0 20px 0;}
#elseWhere h3{margin-bottom:7px;}
ul#imgLinks{list-style:none;margin:7px 0;}
#imgLinks li{color:#7F7F7F;line-height:1.2em;padding:0 0 1px;}
#imgLinks li a img{border:3px solid #EEE;width:208px;height:69px;color:#333;font-weight:bold;}
#imgLinks li a:hover img{border-color:#DDD;}

/* wordpress entries styling - main content column */
.submitted{background:url(images/dot.gif) repeat-x left center;text-transform:uppercase;font-size:11px;text-align:right;margin-bottom:5px;}
.submitted span.date{background:#FFF;color:#7F7F7F;padding:0 2px 0 4px;}
.submitted span.author,.meta span.commenter {background:#FFF url(images/author_grey.gif) no-repeat left center;padding-left:15px;margin-left:2px;}
.submitted span.author a,
.submitted span.date a{color:#555;}
.node {margin:0 0 15px 0;}
.node h2{line-height:1.2em;margin-bottom:7px;}
.node h2 a{width:100%;display:block;outline:none;}
.node h3{margin:1em 0;}
.node .content{line-height:1.4em;overflow:hidden;}
.node .content p{margin:1em 0;}
.node .content p a{background:url(images/dot.gif) repeat-x bottom left;font-weight:bold;}
.node blockquote{margin:0 1.3em 0;}
.node ul, .node ol{margin:0 1.3em 0;}
/*
.node li a{color:#333;font-weight:bold;background:url(images/dot.gif) repeat-x bottom left;}
.node ul li{background:url(images/li.gif) no-repeat 0 1px;padding-left:18px;margin-bottom:7px;}
.node ol{margin:0 1em 0 3em;}
.node ol li{margin:0 0 7px 0;}
*/
.node img,.node a img{border:3px solid #EEE;}
.node a:hover img{border-color:#DFDFDF;}
.node table tr { padding: 15px 0; }
.node table tr.alt { background: #eee; }

/* style pagination buttons */
#more_reading { color: #7F7F7F; font-size: 11px; text-transform: uppercase; margin-bottom: 25px; text-align: right; }
#more_reading p, #more_reading img { vertical-align: middle; }
#more_reading a img { border: none; margin:0 0 3px 2px; }

/* style me some comments and inputs */
#comments{width:435px;padding:12px 0 0 0;}
#comments h3,
h3#respond{color:#555;margin-bottom:7px;}
ol.commentslist{list-style:none;margin:5px 0 12px;}
#comments .comment{background:#FFF url(images/lgrey_diag.gif) repeat top left;border:1px solid #BBB;margin-bottom:7px;padding:7px 7px;}
#comments .comment a{font-weight:bold;background:url(images/dot.gif) repeat-x bottom left;}
#comments .comment.alt{background:#FFF;}
#comments .comment:hover{border-color:#888;}
#comments .content{line-height:1.4em;overflow:hidden;margin-bottom:7px;}
#comments .contentp,
#comments .contentul,
#comments .contentol,
#comments .contentblockquote{margin:1em 0;}
#comments .contentul,
#comments .contentol,
#comments .contentblockquote{margin:0 1em;}p.author_meta{font-weight:bold;text-transform:uppercase;margin:0 0 0 7px;}
#comments .links{font-size:11px;text-transform:uppercase;text-align:right;margin:0 7px 0 0;}
#comments .comment.author{background:#333;color:#CCC;}
#comments .comment.author a{color:#DDD;}
#comments .comment.author a:hover{color:#FFF;}
#comments_closed{background:#333;color:#ccc;padding:7px 0;margin-top:12px;line-height: 1.5em;}
#comments .comment .new {float:right;color:#fff;background:#BBBBBB;clear:both;}
p.nocomments{margin:0 12px 0 7px;}
p.nocomments a{color:#ddd;font-weight:bold;text-decoration:underline;}
p.nocomments a:hover{color:#FFF;}
ol.pingslist{margin:1.5em 2em;font-size:12px;}
.pingslist li{color:#7F7F7F;margin:0 0 7px 0;}
.pingslist li a{font-weight:bold;background:url(images/dot.gif) repeat-x bottom left;}
#commentform p{margin:1em 0;}
#commentform p a{font-weight:bold;background:url(images/dot.gif) repeat-x bottom left;}
#author,
#email,
#url,
#comment{font:1.1em arial,helvetica,verdana,sans-serif;border:1px solid #BBB;padding:2px;}
#comment{width:429px;overflow:auto;}
#commentform p small{font-size:10px;color:#7F7F7F;}
.commentslist code{background:transparent;}
#comments .comment_delete {background:#FFF url(images/chat_minus_grey.gif) no-repeat left center;padding-left:8px;margin-left:2px;}
#comments .comment_edit {background:#FFF url(images/chat_dot_grey.gif) no-repeat left center;padding-left:8px;margin-left:2px;}
#comments .comment_reply {background:#FFF url(images/chat_plus_grey.gif) no-repeat left center;padding-left:8px;margin-left:2px;}
#comments .date {background:#FFF url(images/calendar_grey.gif) no-repeat left center;padding-left:18px;margin-left:2px;}

/* footer - text string and links */
#footer p {padding-top: 7px; }
#footer-region #footer {margin-top:20px;padding-top:10px;}
#footer a{font-weight:bold;color:#333;}

/* float rules */
.floatleft{float:left;margin:3px 7px 0 0;}
.floatright{float:right;margin:3px 0 0 7px;}
.right{float:right;}
.left{float:left;}
.clear{clear:both;}
.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fix{display:inline-block;} 
* html .fix{height:1%;}
.fix{display:block;}