@CHARSET "UTF-8";

@import "grid_focus.css"; 

/*
	<div id="page">
		<div id="header" />
		<div id="container">
			<div id="sidebar-left" />
			<div id="main" />
				<div id="squeeze" />
			</div>
			<div id="sidebar-right" />
		</div>
		<div id="header" />
	</div>
*/

/* ====== diagnostics ====== */

#header,
#container,
#footer {
	border: 0px solid #12589E;
	margin: 0px;
	padding: 0px;
	clear: both;
}

#header #logo,
#header #site-name-slogan,
#header #search-theme-form,
#header #navigation,
#header #header-region,
#header #header-region .block {
	border: 0px dashed #12589E;
}

#header #masthead,
#header #navigation {
	clear: both;
}

#container #sidebar-left,
#container #squeeze,
#container #sidebar-right {
	border: 0px dashed #12589E;
}

#container #squeeze .mission,
#container #squeeze .breadcrumb,
#container #squeeze .node {
	border: 0px dotted #12589E;
	clear: both;
}

/* ====== layout ====== */

body {
	min-width: 965px;      
}

#page {
	width: 965px;
	border-top:3px solid #EEEEEE;
	margin:20px auto;
	text-align:left;
	width:965px;
}

/* ---- header ------ */

#header #masthead {
	margin: 10px 0 5px 0;
	position: relative;
}

#header #masthead #name-and-slogan {
	display: inline;
}

#header #masthead #site-name {
	margin: 0;
	display: inline;
}

#header #masthead #site-slogan {
	margin-left:20px;
}

#header #masthead #search {
	position: absolute;
	padding:0;
	top: 0;
	right: 0;
}

#header #header-region {
	overflow: hidden;
}

#header #header-region .block {
	display: inline;
	float: left;
	width: 19%;
}

/* ---- container ------ */

#container {
	margin: 25px auto 0 auto;
	max-width: 1270px;
}

#container .sidebar {
	float: left;
	z-index: 2;
	position: relative;
	margin-left: 30px;
}

#main {
	float: left;
	width: 100%;
}

body.sidebar-left #main {
	margin-right: -285px;
}
body.sidebar-left #main #squeeze {
	margin-right: 285px;
}

body.sidebar-right #main {
	margin-right: -255px;
}
body.sidebar-right #main #squeeze {
	margin-right: 255px;
}

body.both-sidebars #main {
	margin-right: -530px;
}
body.both-sidebars #squeeze {
	margin-right: 530px;
}

#squeeze {
	position: relative;
}

/* ---- footer ------ */

#footer {
	float: none;
	clear: both;
}


/* ----------------- */
.sidebar .block {
	margin-bottom: 20px;
}

#search-theme-form input.form-submit, #search-block-form input.form-submit, #search-form input.form-submit { height: 24px; width: 24px; cursor: pointer; text-indent: -9999px; border: none; background: url(images/btn_search.gif) no-repeat left top; vertical-align:middle; }
#IEroot .block-search input.form-submit, #IEroot #search-form input.form-submit { width: 34px; font-size: 0; color: #fff; text-align: right; }
#IEroot #search-form .search-advanced input.form-submit { width: 44px; text-indent: 0; }

#comments .meta span {
	display: inline;
	float: right;
}

.node .meta {
	background-color:#EEEEEE;
	border-right:1px solid #DDDDDD;
	padding:5px;
	clear: both;
	margin: 10px 0;
}

.node .meta .taxonomy, 
.node .meta .links {
	display: inline;
}

.node .meta div.taxonomy li { background:transparent url(images/tag_grey.gif) no-repeat left center;padding-left:20px;margin-left:2px; }
.node .meta li.blog_usernames_blog { background:transparent url(images/blog_grey.gif) no-repeat left center;padding-left:18px;margin-left:2px; }
.node .meta li.comment_add { background:transparent url(images/comment_grey.gif) no-repeat left center;padding-left:18px;margin-left:2px; }

.node .service-links {
	border: 1px solid #DDDDDD;
	margin: 10px 0;
	padding: 5px;
}

.node .service-links img {
	border:0;
}

#footer-menu h2.title,
#footer-menu ul.menu ul.menu * {
	display: none;
}

#footer-wrapper {background:#EEE;clear:both;margin: 10px 0;}
#footer-menu ul.menu {list-style:none;background:#EEE;clear:both;}
#footer-menu ul.menu li{
	background:transparent none;
	border-right:1px solid #DDD;
	border-top: 0;
	padding: 0;
	float:left;
	display:block;
	width:100px;
}
#footer-menu ul.menu li a{font-size:11px;outline:none;color:#333;text-decoration:none;display:block;padding:5px 0 12px 5px;width:99px;text-transform:uppercase;}
#footer-menu ul.menu li a span{font-size:11px;color:#777;text-transform:lowercase;}
#footer-menu ul.menu li a:hover{background:#333;color:#eee!important;width:95px;}
* html #footer-menu ul.menu li a:hover{background:#333;width:99px;}


#footer-region {clear:both;}
#footer-region #footer-left,
#footer-region #footer-mid,
#footer-region #footer-right {
	float:left;
	width: 290px;
	margin-right: 10px;
	padding: 10px;
}

li.leaf, li.collapsed, li.expanded,.item-list ul li {list-style:none;list-style-type:none;list-style-image:none;padding:4px 0 4px 16px;margin:0;}

#user-login-form {
	text-align: left;
}